<template name="keyboard">
	<div class="navbar-fixed-bottom">
		<div class="relative center" style="width:753px;height:420px; overflow:hidden">
			<img class="absolute" src="/keyboard/keyboard-background-white.png">
			<!-- first row -->
			<img id="keyTilde" class="absolute" style="left:14px;top:89px" src="/keyboard/keys/black/tilde.png">
			<img id="key1" class="absolute" style="left:64px;top:89px" src="/keyboard/keys/black/1.png">
			<img id="key2" class="absolute" style="left:114px;top:89px" src="/keyboard/keys/black/2.png">
			<img id="key3" class="absolute" style="left:164px;top:89px" src="/keyboard/keys/black/3.png">
			<img id="key4" class="absolute" style="left:214px;top:89px" src="/keyboard/keys/black/4.png">
			<img id="key5" class="absolute" style="left:264px;top:89px" src="/keyboard/keys/black/5.png">
			<img id="key6" class="absolute" style="left:314px;top:89px" src="/keyboard/keys/black/6.png">
			<img id="key7" class="absolute" style="left:364px;top:89px" src="/keyboard/keys/black/7.png">
			<img id="key8" class="absolute" style="left:414px;top:89px" src="/keyboard/keys/black/8.png">
			<img id="key9" class="absolute" style="left:464px;top:89px" src="/keyboard/keys/black/9.png">
			<img id="key0" class="absolute" style="left:514px;top:89px" src="/keyboard/keys/black/0.png">
			<img id="keyMinus" class="absolute" style="left:564px;top:89px" src="/keyboard/keys/black/minus.png">
			<img id="keySum" class="absolute" style="left:614px;top:89px" src="/keyboard/keys/black/sum.png">
			<!-- second row -->
			<img id="keyq" class="absolute" style="left:92px;top:138px" src="/keyboard/keys/black/Q.png">
			<img id="keyw" class="absolute" style="left:142px;top:138px" src="/keyboard/keys/black/W.png">
			<img id="keye" class="absolute" style="left:192px;top:138px" src="/keyboard/keys/black/E.png">
			<img id="keyr" class="absolute" style="left:242px;top:138px" src="/keyboard/keys/black/R.png">
			<img id="keyt" class="absolute" style="left:292px;top:138px" src="/keyboard/keys/black/T.png">
			<img id="keyy" class="absolute" style="left:342px;top:138px" src="/keyboard/keys/black/Y.png">
			<img id="keyu" class="absolute" style="left:392px;top:138px" src="/keyboard/keys/black/U.png">
			<img id="keyi" class="absolute" style="left:442px;top:138px" src="/keyboard/keys/black/I.png">
			<img id="keyo" class="absolute" style="left:492px;top:138px" src="/keyboard/keys/black/O.png">
			<img id="keyp" class="absolute" style="left:542px;top:138px" src="/keyboard/keys/black/P.png">
			<img id="keySquareBraketLeft" class="absolute" style="left:592px;top:138px" src="/keyboard/keys/black/square-braket-left.png">
			<img id="keySquareBraketRight" class="absolute" style="left:642px;top:138px" src="/keyboard/keys/black/square-braket-right.png">
			<img id="keyBackslash" class="absolute" style="left:692px;top:138px" src="/keyboard/keys/black/backslash.png">
			<!-- third row -->
			<img id="keya" class="absolute" style="left:103px;top:187px" src="/keyboard/keys/black/A.png">
			<img id="keys" class="absolute" style="left:153px;top:187px" src="/keyboard/keys/black/S.png">
			<img id="keyd" class="absolute" style="left:203px;top:187px" src="/keyboard/keys/black/D.png">
			<img id="keyf" class="absolute" style="left:253px;top:187px" src="/keyboard/keys/black/F.png">
			<img id="keyg" class="absolute" style="left:303px;top:187px" src="/keyboard/keys/black/G.png">
			<img id="keyh" class="absolute" style="left:353px;top:187px" src="/keyboard/keys/black/H.png">
			<img id="keyj" class="absolute" style="left:403px;top:187px" src="/keyboard/keys/black/J.png">
			<img id="keyk" class="absolute" style="left:453px;top:187px" src="/keyboard/keys/black/K.png">
			<img id="keyl" class="absolute" style="left:503px;top:187px" src="/keyboard/keys/black/L.png">
			<img id="keySemicolon" class="absolute" style="left:553px;top:187px" src="/keyboard/keys/black/semicolon.png">
			<img id="keyApostrophe" class="absolute" style="left:603px;top:187px" src="/keyboard/keys/black/apostrophe.png">
			<!-- fourth row -->
			<img id="keyz" class="absolute" style="left:128px;top:236px" src="/keyboard/keys/black/Z.png">
			<img id="keyx" class="absolute" style="left:178px;top:236px" src="/keyboard/keys/black/X.png">
			<img id="keyc" class="absolute" style="left:228px;top:236px" src="/keyboard/keys/black/C.png">
			<img id="keyv" class="absolute" style="left:278px;top:236px" src="/keyboard/keys/black/V.png">
			<img id="keyb" class="absolute" style="left:328px;top:236px" src="/keyboard/keys/black/B.png">
			<img id="keyn" class="absolute" style="left:378px;top:236px" src="/keyboard/keys/black/N.png">
			<img id="keym" class="absolute" style="left:428px;top:236px" src="/keyboard/keys/black/M.png">
			<img id="keyComma" class="absolute" style="left:478px;top:236px" src="/keyboard/keys/black/comma.png">
			<img id="keyPeriod" class="absolute" style="left:528px;top:236px" src="/keyboard/keys/black/period.png">
			<img id="keySlash" class="absolute" style="left:578px;top:236px" src="/keyboard/keys/black/slash.png">
			<!-- sixth row -->
			<img id="keyControl" class="absolute" style="left:64px;top:285px" src="/keyboard/keys/black/control.png">
			<img id="keyOptionLeft" class="absolute" style="left:114px;top:285px" src="/keyboard/keys/black/option-left.png">
			<img id="keyCommandLeft" class="absolute" style="left:164px;top:285px" src="/keyboard/keys/black/command-left.png">
			<img id="keySpace" class="absolute" style="left:228px;top:285px" src="/keyboard/keys/black/space.png">
			<img id="keyCommandRight" class="absolute" style="left:478px;top:285px" src="/keyboard/keys/black/command-right.png">
			<img id="keyOptionRight" class="absolute" style="left:541px;top:285px" src="/keyboard/keys/black/option-right.png">
			<img id="keyLeft" class="absolute" style="left:592px;top:310px" src="/keyboard/keys/black/left.png">
			<img id="keyUp" class="absolute" style="left:642px;top:285px" src="/keyboard/keys/black/up.png">
			<img id="keyDown" class="absolute" style="left:642px;top:310px" src="/keyboard/keys/black/down.png">
			<img id="keyRight" class="absolute" style="left:692px;top:310px" src="/keyboard/keys/black/right.png">
			<!-- function keys -->
			<img id="keyEsc" class="absolute" style="left:14px;top:55px" src="/keyboard/keys/black/esc.png">
			<img id="keyBackspace" class="absolute" style="left:664px;top:89px" src="/keyboard/keys/black/delete.png">
			<img id="keyTab" class="absolute" style="left:14px;top:138px" src="/keyboard/keys/black/tab.png">
			<img id="keyCapsLock" class="absolute" style="left:14px;top:187px" src="/keyboard/keys/black/caps-lock.png">
			<img id="keyEnter" class="absolute" style="left:653px;top:187px" src="/keyboard/keys/black/enter.png">
			<img id="keyShiftLeft" class="absolute" style="left:14px;top:236px" src="/keyboard/keys/black/shift-left.png">
			<img id="keyShiftRight" class="absolute" style="left:629px;top:236px" src="/keyboard/keys/black/shift-right.png">
			<!-- left hand -->
			<img id="leftHand" class="absolute" style="left:132px;top:190px" src="/hands/left-hand.png">
			<img id="leftThumb" class="absolute" style="left:132px;top:190px" src="/hands/left-thumb.png">
			<img id="left1Finger" class="absolute" style="left:132px;top:190px" src="/hands/left-1-finger.png">
			<img id="left2Finger" class="absolute" style="left:132px;top:190px" src="/hands/left-2-finger.png">
			<img id="left3Finger" class="absolute" style="left:132px;top:190px" src="/hands/left-3-finger.png">
			<img id="left4Finger" class="absolute" style="left:132px;top:190px" src="/hands/left-4-finger.png">
			<!-- right hand -->
			<img id="rightHand" class="absolute" style="left:369px;top:190px" src="/hands/right-hand.png">
			<img id="rightThumb" class="absolute" style="left:369px;top:190px" src="/hands/right-thumb.png">
			<img id="right1Finger" class="absolute" style="left:369px;top:190px" src="/hands/right-1-finger.png">
			<img id="right2Finger" class="absolute" style="left:369px;top:190px" src="/hands/right-2-finger.png">
			<img id="right3Finger" class="absolute" style="left:369px;top:190px" src="/hands/right-3-finger.png">
			<img id="right4Finger" class="absolute" style="left:369px;top:190px" src="/hands/right-4-finger.png">
		</div>
	</div>
</template>	